* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #020617; */
    color: white;
    font-family: "Tektur", sans-serif;
}

button,
a,
h1,
h2,
h3,
h4,
p,
li {
    font-family: "Tektur", sans-serif;
}

/* ================= NAVBAR ================= */

.navbar {
    position: fixed;
    height: 90px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    top: 0;
    z-index: 1000;
}

.brand {
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
    margin-left: 5px;
    flex: 1;
    text-decoration: none;
    cursor: pointer;
}


.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    background: #142d6c;
    padding: 6px 18px;
    border-radius: 10px;
    font-size: 20px;
}

.navbar nav a:hover {
    background: #1e40af;
    transition: 0.3s;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* IMPORTANT */
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* ================= GLOBAL SECTION ================= */

.section {
    height: 100vh;
    padding: 100px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ================= HERO ================= */

.hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.hero-left h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-left p {
    color: #cbd5f5;
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 520px;
}

.hero-right img {
    width: 480px;
    opacity: 0.95;
}


.hero-left {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ================= BUTTON ================= */

.btn {
    padding: 16px 38px;
    border-radius: 30px;
    border: none;
    background: #cbd5f5;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #111827;
}

.btn:hover {
    background: #a5b4fc;
    transform: translateY(-2px);
    transition: 0.3s ease;
}

/* ================= ABOUT ================= */

.about {
    text-align: center;
}

.about h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.about-desc {
    font-size: 18px;
    color: #cbd5f5;
    max-width: 800px;
    margin: 0 auto;
}

.about-cards {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.card {
    color: #ffffff;
    padding: 35px 25px;
    border-radius: 22px;
    width: 240px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
    position: relative;
}

.card img {
    width: 130px;
    margin-bottom: 20px;
}
.ai-img{
    margin-top: -20px;
}
/* ================= FEATURES ================= */

.features {
    text-align: center;
}

.features h2 {
    font-size: 42px;
}

.feature-grid {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.feature {
    width: 260px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

.feature p {
    font-size: 15px;
    line-height: 1.5;
}


/* ================= CONTACT ================= */

.contact {
    text-align: center;
}

.contact h2 {
    font-size: 42px;
}

.contact-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}



.contact-form {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
    position: relative;
    padding: 35px;
    border-radius: 20px;
    width: 520px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
}

.contact-form label {
    font-size: 14px;
    font-weight: 600;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #9ca3af;
    background: transparent;
}

.contact-form button {
    grid-column: span 2;
    justify-self: start;
    margin-top: 10px;
    background: #142d6c;
    color: white;
}

.contact-form button:hover {
    background: #1e40af;
}

/* ================= FOOTER ================= */

.footer {
    padding: 40px 70px;
    background: transparent;
    position: relative;
    z-index: 10;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background: #9ca3af;
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: 16px;
    font-weight: 600;
}

.footer-circle {
    width: 60px;
    height: 60px;
    background: #020617;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-circle img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.footer-right img {
    width: 28px;
    margin-left: 18px;
    cursor: pointer;
}

/* ================= REUSABLE SECTION VIDEO ================= */

.section-with-bg {
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-with-bg>* {
    position: relative;
    z-index: 2;
}